# SAT 3210 Database Management Course Project

#### MySQL Connector

We first need to install the mysql connector and connect to the database

In [ ]:
pip install mysql-connector-python

#### Test Database Initial Connection

Testing connection to database with credentials in a password.txt file.

In [2]:
import mysql.connector
from mysql.connector import Error

database = "EconoFoods"
creds = open("password.txt", "r")
lines = creds.readlines()
user_name = lines[0]
password = lines[1]
creds.close()

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('econofoods',)

#### Close Database

Close database until future use.

In [18]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")

## Database Design (Section 1)

We've constructed an ER Diagram, reduced that to a relational schema diagram, and translated that over to our database files. We've included screenshots of our diagrams in our project overview paper.

Our database creation file is `DaDatabaseDDL.sql`

## Populate Relations (Section 2)

For populating our database, we included an `insert.sql` script. After running the script, the database should be populated with all of our store's data.

## Database Queries (Section 3)

1. How many products are in your store?
2. How many types of products are in your store?
3. What are the top 20 best-selling products in your store?
4. Who are the top 10 best-selling vendors in your store?
5. What are the top 3 types of products that customers buy?
6. How many customers have purchased diet Pepsi? (Or a similar question for nonfood enterprises.)

In [2]:
import mysql.connector
from mysql.connector import Error

database = "EconoFoods"
creds = open("password.txt", "r")
lines = creds.readlines()
user_name = lines[0]
password = lines[1]
creds.close()

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('econofoods',)

In [ ]:
# Query 1

stmt = "SELECT SUM(quantity) AS 'Total Products' FROM Product"
cursor.execute(stmt)
record = cursor.fetchone()
print(record)

In [ ]:
# Query 2

stmt = "SELECT COUNT(category_name) AS 'Total Types of Products' From Category;"
cursor.execute(stmt)
record = cursor.fetchall()
display(record)

In [ ]:
# Query 3

stmt = "SELECT DISTINCT product.product_name, SUM(order_items.order_quantity) FROM product, order_items WHERE product.product_id = order_items.product_id GROUP BY order_items.product_id ORDER BY SUM(order_items.order_quantity) DESC LIMIT 20;"
cursor.execute(stmt)
record = cursor.fetchall()
display(record)

In [ ]:
# Query 4

stmt = "SELECT manufacturer.manufacturer_name, SUM(order_items.order_quantity) FROM manufacturer, product, order_items WHERE manufacturer.manufacturer_id = product.manufacturer_id AND product.product_id = order_items.product_id GROUP BY manufacturer.manufacturer_name ORDER BY SUM(order_items.order_quantity) DESC LIMIT 10;"
cursor.execute(stmt)
record = cursor.fetchall()
display(record)

In [ ]:
# Query 5

stmt = "SELECT category.category_name FROM category, product, order_Items WHERE category.category_id = product.category_id AND product.product_id = order_items.product_id GROUP BY order_items.product_id ORDER BY SUM(order_items.order_quantity) DESC LIMIT 3;"
cursor.execute(stmt)
record = cursor.fetchall()
print(record)

In [6]:
# Query 6

stmt = "SELECT COUNT(DISTINCT users.user_id) AS 'Total Customers that Bought Coca-Cola' FROM users, orders, order_items WHERE users.user_id = orders.user_id AND orders.order_id = order_items.order_id AND Role = 'customer' AND order_items.product_id = 29;"
cursor.execute(stmt)
record = cursor.fetchall()
print(record)

[(4,)]

In [ ]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")

## Database Functions (Functionality) (Section 4)

Create two roles in the database: Customer and Employee. Add users to each role. Create a user as a Guest.


- Employees can add/update/delete any customer/product/order tables. (Hint: grant all privileges to the role)
- Customers may check available products by keywords (i.e., basic search)
- Customers may add multiple products to one order. Only registered users can place orders. Guests cannot place orders
- No overselling is allowed. (Hint: add a constraint in the tables to avoid overselling)

#### Functionalities were implemented in database creation. No python code needed for section 4

## Python Functions (Section 5)

### Create a Python function (or any preferred programming language) to implement the following functions.

1. Find the top 20 best-selling products in your store.
2. Check available products by keywords.
3. Add multiple products to one order

In [ ]:
import mysql.connector
from mysql.connector import Error

database = "EconoFoods"
creds = open("password.txt", "r")
lines = creds.readlines()
user_name = lines[0]
password = lines[1]
creds.close()

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.31
You're connected to database:  ('econofoods',)

In [ ]:
# Functon 1
stmt = "SELECT DISTINCT product.product_name, SUM(order_items.order_quantity) FROM product, order_items WHERE product.product_id = order_items.product_id GROUP BY order_items.product_id ORDER BY SUM(order_items.order_quantity) DESC LIMIT 20;"
cursor.execute(stmt)
record = cursor.fetchall()
display(record)

In [ ]:
# Function 2
# prepared statement,  %s within the statement is a parameter marker
def search():
    stmt = "SELECT product_name, product_description, quantity, price FROM product NATURAL JOIN category WHERE (product_name = %s OR category_name = %s) AND quantity > 0"
    keyword = str(input())

    # execture the prepared statement
    cursor.execute(stmt, (keyword, keyword,))

    # fetch results
    record = cursor.fetchall()
    display(record)

search()

In [ ]:
# Function 3

In [ ]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")