# SAT 3210 Database Management Course Project

### Initial Code

We first need to install the mysql connector and connect to the database

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector
from mysql.connector import Error

database = "sat3210"
user_name = "root"
password = "password"

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)

## Populate Relations (Section 2)

Include enough data to make answers to your queries interesting and nontrivial for test purposes. For simplicity, perfectly realistic data is not required. Where appropriate, randomly generated data are acceptable (and a good way to avoid having lots of data entry). (Hint: It may be helpful to write a program to generate test data.)

## Database Queries (Section 3)

How many products are in your store? \
How many types of products are in your store? \
What are the top 20 best-selling products in your store? \
Who are the top 10 best-selling vendors in your store? \
What are the top 3 types of products that customers buy? \
How many customers have purchased diet Pepsi? (Or a similar question for nonfood enterprises.)

In [ ]:
SELECT SUM(quantity) AS “Total Products” FROM product;

In [ ]:
SELECT COUNT(category_name) AS “Total Types of Products” From Category;

In [ ]:
SELECT product.product_name FROM product, order_items WHERE product.product_id = order_items.product_id GROUP BY product.product_id ORDER BY order_items.order_quantity DESC LIMIT 20;

In [ ]:
SELECT manufacturer.manufacturer_name FROM manufacturer, product, order_items WHERE manufacturer.manufacturer_id = product.manufacturer_id AND product.product_id = order_items.product_id GROUP BY manufacturer.manufacturer_id ORDER BY order_items.order_quantity DESC LIMIT 10;

In [ ]:
SELECT category.category_name FROM category, product, order_Items WHERE category.category_id = product.category_id AND product.product_id = order_items.product_id GROUP BY category.category_id ORDER BY order_items.order_quantity DESC LIMIT 3;

In [ ]:
SELECT COUNT(users.user_id) AS 'Total Customers that Bought Coca-Cola' FROM users, orders, order_items WHERE users.user_id = orders.user_id AND orders.order_id = order_items.order_id AND Role = "customer" AND order_items.product_id = 29 GROUP BY users.user_id;

In [ ]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")

In [ ]:
cursor = connection.cursor(prepared=True)

In [4]:
stmt = "SELECT name FROM Product WHERE Product_id = (SELECT product_id FROM Sale_Product GROUP BY product_id ORDER BY quantity DESC LIMIT 20);"

# execture the prepared statement
cursor.execute(stmt)

# fetch results
record = cursor.fetchall()
print(record)

ProgrammingError: 1146 (42S02): Table 'sat3210.product' doesn't exist

In [ ]:
# prepared statement,  %s within the statement is a parameter marker
def search:
    stmt = "SELECT name FROM Product WHERE (name = %s OR category = %s) AND quantity > 0"

    keyword = str(input())

    # execture the prepared statement
    cursor.execute(stmt, (keyword, keyword,))

    # fetch results
    record = cursor.fetchall()
    print(record)
    
search()