# Lab4 Jupyter Notebook File

In [30]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sat3210\.conda\envs\lab4\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\sat3210\.conda\envs\lab4\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

## Question 1

In [36]:
import mysql.connector
from mysql.connector import Error

# f=open("C:\Users\sat3210\Documents\passwords.txt","r")
# lines=f.readlines()
# user_name=lines[0]
# password=lines[1]
# f.close()

database = "sat3210"
user_name = "root"
password = "P@ssw0rd"

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)
    
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")

Connected to MySQL Server version  8.0.30
You're connected to database:  ('sat3210',)
MySQL connection is closed

## Question 2

In [73]:
import mysql.connector
from mysql.connector import Error

# f=open("C:\Users\sat3210\Documents\passwords.txt","r")
# lines=f.readlines()
# user_name=lines[0]
# password=lines[1]
# f.close()

database = "sat3210"
user_name = "root"
password = "P@ssw0rd"

try:
    connection = mysql.connector.connect(host='localhost', database=database, user=user_name, password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        
        
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.30
You're connected to database:  ('sat3210',)

## Defining Query Function

In [88]:
def query(relation_name):    
    if connection.is_connected():

        cursor = connection.cursor(prepared=True)

        # prepared statement,  %s within the statement is a parameter marker
        stmt = "SELECT * FROM " + relation_name + ";"

        # execture the prepared statement
        cursor.execute(stmt)

        # fetch results
        record = cursor.fetchall()
        print(record)
        
query("student")

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')), ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')), ('19991', 'Brandt', 'History', Decimal('80')), ('23121', 'Chavez', 'Finance', Decimal('110')), ('44553', 'Peltier', 'Physics', Decimal('56')), ('45678', 'Levy', 'Physics', Decimal('46')), ('54321', 'Williams', 'Comp. Sci.', Decimal('54')), ('55739', 'Sanchez', 'Music', Decimal('38')), ('70557', 'Snow', 'Physics', Decimal('0')), ('76543', 'Brown', 'Comp. Sci.', Decimal('58')), ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')), ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')), ('98988', 'Tanaka', 'Biology', Decimal('120'))]

## Question 3

In [98]:
def query(relation_name, condition):    
    if connection.is_connected():

        cursor = connection.cursor(prepared=True)

        # prepared statement,  %s within the statement is a parameter marker
        stmt = "SELECT * FROM " + relation_name + " WHERE " + condition + ";"

        # execture the prepared statement
        cursor.execute(stmt)

        # fetch results
        record = cursor.fetchall()
        print(record)
        
        
query("student", 'ID like "12345"')        
query("instructor", 'ID like "12121"')

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]
[('12121', 'Wu', 'Finance', Decimal('90000.00'))]

## Question 4

In [104]:
def addNewRows(ID, name, dept_name, salary):    
    if connection.is_connected():

        cursor = connection.cursor(prepared=True)

        # prepared statement,  %s within the statement is a parameter marker
        # stmt = "SELECT * FROM " + relation_name + " WHERE " + condition + ";"
        stmt = "INSERT INTO instructor VALUES(?,?,?,?);"
        stmt2 = "SELECT * FROM instructor;"
        # execture the prepared statement
        cursor.execute(stmt, (ID, name, dept_name, salary))
        
        # fetch results
        record = cursor.fetchall()
        print(record)
        
addNewRows(99999, "Jaklic", "Comp. Sci.", 75000)
addNewRows(88888, "Adragna", "Finance", 80000)
addNewRows(77777, "Rixom", "Music", 33000)
addNewRows(66666, "LaBine", "Physics", 98000)

InterfaceError: Error while executing statement: Duplicate entry '99999' for key 'instructor.PRIMARY'

In [105]:
cursor.execute("SELECT * FROM instructor;")
record = cursor.fetchall()
print(record)

[('10101', 'Srinivasan', 'Comp. Sci.', Decimal('65000.00')), ('12121', 'Wu', 'Finance', Decimal('90000.00')), ('15151', 'Mozart', 'Music', Decimal('40000.00')), ('22222', 'Einstein', 'Physics', Decimal('95000.00')), ('32343', 'El Said', 'History', Decimal('60000.00')), ('33456', 'Gold', 'Physics', Decimal('87000.00')), ('45565', 'Katz', 'Comp. Sci.', Decimal('75000.00')), ('58583', 'Califieri', 'History', Decimal('62000.00')), ('66666', 'LaBine', 'Physics', Decimal('98000.00')), ('76543', 'Singh', 'Finance', Decimal('80000.00')), ('76766', 'Crick', 'Biology', Decimal('72000.00')), ('77777', 'Rixom', 'Music', Decimal('33000.00')), ('83821', 'Brandt', 'Comp. Sci.', Decimal('92000.00')), ('88888', 'Adragna', 'Finance', Decimal('80000.00')), ('98345', 'Kim', 'Elec. Eng.', Decimal('80000.00')), ('99999', 'Jaklic', 'Comp. Sci.', Decimal('75000.00'))]

## Close Connection

In [68]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed")

MySQL connection is closed